.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .formHolder {
        position: absolute;
        top: 0;
        min-height: 100vh;
        min-width: 100vw;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            background-color: #000000ad;
            padding: 3rem;

            .addCont {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                background-color: transparent;

                .addLib {
                    background-color: transparent;
                    border: none;
                    font-size: 1rem;
                }
            }

            .textbox {
                width: 90%;
                background-color: transparent;
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
                padding-left: 1rem;
                outline: 0;
                border: 1px solid #ffffff;
                border-radius: 2rem;
            }

            .subBtn {
                width: 90%;
                background-color: #585858;
                color: #ffffff;
                border: 0 solid transparent;
                border-radius: 1rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                box-shadow: none;
                transition: ease 200ms;

                &:hover {
                    background-color: #ffffff;
                    color: #000000;
                    box-shadow: 0 0 1rem #ffffff;
                }
            }
        }

    }

    .libCont {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;

        .card {
            height: 10rem;
            width: 10rem;
            margin: 1rem;
            padding: 2rem;
            background-color: #070029;
            border: 0px solid transparent;
            border-radius: 1rem;
            box-shadow: 0 0.2rem 1rem #000000;

            .user {
                color: #cbc4dbaf;
            }
        }

        .addCont {
            height: 10rem;
            width: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem;
            padding: 2rem;
            border: 0px solid transparent;
            border-radius: 1rem;
            box-shadow: 0 0.2rem 1rem #000000;
            color: #cbc4dbaf;

            .addLib {
                font-size: 4rem;
                border: 1px solid #ffffff;
                height: 5rem;
                width: 5rem;
                border-radius: 5rem;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: ease 1000ms;
                box-shadow: none;
                cursor: cell;

                &:hover {
                    background-color: #ffffff;
                    color: #252d52;
                    box-shadow: 0 0 3rem #ffffff;
                }
            }
        }
    }
}