.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:5rem;

    .subscont {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 ;
        margin-bottom: 5px;

        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 100%;
            gap: 3rem;

            .button {
                background-color: #ff4d4d;
                color: white;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
            }
        }
    }
}
